<!-- your html code here -->
<div class="container">
<div class="row">
<div class="col-12 mt-5">
    <h2>Contact</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend viverra ante, nec egestas justo dapibus faucibus. Pellentesque imperdiet gravida felis quis congue. Nunc sit amet eros pellentesque nulla semper ultricies hendrerit varius ligula. Quisque eu odio eget.</p>
</div>
</div>


<div class="row">

<div class="col-md-12 col-lg-10 formulario">
<div class="p-5 m-5 bg-light border rounded-3">

    <form>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label text-end"><b>Your E-mail</b></label>
      <div class="col-md-12 col-lg-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Your email">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label text-end"><b>Your message</b></label>
      <div class="col-md-12 col-lg-10">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
      </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
</div>
</div>  
</form>


</div>
</div>


</div>
</div>




