<!-- your html code here -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Portfolio</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus libero ac tincidunt viverra. Aenean lacinia interdum quam non semper. Cras eleifend viverra ante, nec egestas justo dapibus faucibus. Pellentesque imperdiet gravida felis quis congue. Nunc sit amet eros pellentesque nulla semper ultricies hendrerit varius ligula. Quisque eu odio eget.</p>
            </div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 d-flex justify-content-center">
<div class="card" style="width: 18rem;">
    <img src="https://d1joui61864gj3.cloudfront.net/146050/efbz1o_3fe5e0c1152e8bdeb57958d702488e3cd0e5c651.jpg" class="card-img rounded-0" alt="Imagen">
    <div class="card-body">
      <h5 class="card-title">Project Name</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus libero ac tincidunt viverra.</p>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <img src="https://d1joui61864gj3.cloudfront.net/2091451/jyunai_5a050566ad4bd7af2157103bda33e7dcd4e109b5.jpg" class="card-img rounded-0" alt="Imagen">
    <div class="card-body">
      <h5 class="card-title">Project Name</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus libero ac tincidunt viverra.</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <img src="https://d1joui61864gj3.cloudfront.net/1445474/t0jghs_67dd230cd716679b34b4dd3b773f36bd0f03df3e.jpg" class="card-img rounded-0" alt="Imagen">
    <div class="card-body">
      <h5 class="card-title">Project Name</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus libero ac tincidunt viverra.</p>
    </div>
  </div>
</div>

</div>
</div>
</div>
</div>