

<div class="container-fluid d-flex">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-12 col-lg-4 p-4 text-center border border-primary">
            <img src="https://www.lifewire.com/thmb/yrj047KsBf6-GI0iFHAKyo_ZEOE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Physicalkeyboard_TarikKizilkaya_GettyImages-160948868-6eb87698bb2f4ece9bfca400ddbca30f.jpg" class=" img-responsive rounded-circle" alt="..." style="height: 350px !important; width: 350px !important;">
        </div>
        <div class="col-md-12 col-lg-7  ">
            <div class="ps-5 pt-5 pe-5 mb-0 d-flex  ">
                <p class="fs-2 fw-medium mb-1">The Second Heading &nbsp </p> <p class="mb-1 fs-2 fw-medium text-body-tertiary"> Is Pretty Cool Too</p>
            </div>
            <div class="ps-5 pe-5 mt-0 ">
                <p class="fw-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed neque sit amet ex semper egestas et id libero. Phasellus viverra ex in turpis aliquam, eget fringilla enim pellentesque. Pellentesque.</p>
            </div>
        </div>
        
    </div>
</div>
